.middle {
    padding: 10px; 
    padding-left: 150px;
    
    .bookaholic {
      display: flex;
      align-items: center;
      gap: 100px;
      justify-content: space-around;
  
      img {
        max-width: 350px;
        height: 700px;
      }
  
      .text__bookaholic {
        display: flex;
        flex-direction: column;
        padding: 200px;
        max-width: 900px; 
       
        h2 {
          font-size: 60px; 
          font-weight: bold;
          color: #333;
        }
  
        p {
          font-size: 16px;
          line-height: 2;
          color: $text-color;
          font-weight: 500;
          padding-top: 20px;
        }
  
        a{
            @include link-style();
        }
      }
    }
  }
  