.hero {
  margin: 100px 0;
  &_wrapper {
    display: flex;
    align-items: center;
    &--left {
      width: 50%;
      h1 {
        font-size: 80px;
        font-weight: 700;
        max-width: 462px;
        margin-bottom: 30px;
        line-height: 77px;
      }
      p {
        font-size: 20px;
        max-width: 459px;
        color: $text-color;
        line-height: 30px;
        margin-bottom: 50px;
      }
      .btn {
        @extend %btn;
        background-color: $main-blue;
      }
    }
    &--right {
      width: 50%;
      img {
        width: 100%;
      }
    }
  }
}
