.triple {
    display: flex; 
    justify-content: space-around;
    
    .card, .calc, .camera {
      display: flex;
      flex-direction: column; 
      width: 20%; 
      padding: 150px 60px;
      box-sizing: border-box;
      
      img {
        width: 160px; 
        height: auto; 
      }
  
      h5 {
        font-size: 20px; 
        font-weight: bold;
        margin: 20px 0 10px; 
        color: #333;
      }
  
      p {
        font-size: 16px;
        line-height: 1.6;
        color: #696871;
      }
    }
  }
  